
.back {
	height: 150px;
	max-width: 1200px;
	background-image: url(../img/grey.jpg);
	margin:0 auto;
}

.back img {
	width: 100px;
	margin: 23px 0 0 150px;
}
.back small {
	font-size: 80%;
}
.info {
	display: inline-block;
	width: 150px;
    height: 50px;
    margin-left: 130px;
}
.info ul li  {
	display: inline-block;
	list-style: none;
}
.info ul {
	float: right;
	display: flex;
}
.info ul li a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	background:#fff;
	font-size: 20px;
	margin: 0 7px;
	display: block;
	border-radius: 50%;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.info ul li a .fa {
	position: relative;
	color: #262626;
	transition: .5s;
}
.info ul li a:hover .fa {
	transform: rotateY(360deg);
}
.info ul li a:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f00;
	transition: .5s;
	z-index: 2;
}
.info ul li a:hover:before {
	top: 0;
}

.info ul li:nth-child(1) a:before{
	background: #55acee;

}
.info ul li:nth-child(2) a:before{
background: #3b5999;
}
.info ul li:nth-child(3) a:before{
background: #e4405f;
}
.info ul li:nth-child(4) a:before{
background: #dd4b39;
}
.info ul li:nth-child(5) a:before{
background: #ff5700;
}
/* aq mtavrdeba socialuri mediis anu facebookis da ragac rugaceebis gamzadeba */
.news {
	display: inline-block;
	height: 20px;
	width: 200px;
	position: absolute;
	padding: 22px 30px 2px;
	color: white;
}
.news h1 {
	font-size: 150%;
	padding: 0 2px 4px 0;
}
.news p {
	font-size: 70%;
}

.registrate {
	width: 130px;
	height: 23px;
	background-color:   #28dc3e;
	text-align: center;
	float: right;
	margin-right: 150px;
	margin-top: 70px;
	border-radius: 3%;
	opacity: 0.9;
}
.registrate h1 a{
	letter-spacing: 1px;
	text-decoration: none;
	color: #f9fefa;
}
.registrate:hover {
     opacity: 1;
}
.heder {
	display: block;
}

/* aqedan iwyeba news feed */

.conteiner {
	width: 1000px;
	margin: 0 auto;
	padding:20px 0 0 0;
	height: 100%;
}
.post {
	background-color: #ffffff;
	width: 75%;
	float: left;
	padding: 30px 20px 30px 20px;
	color:  #3d3f40;
}
.post2 {
		color: #3d3f40;
		float: left;
		width: 75%;
		background-color: #ffffff;
		padding:  30px 20px 30px 20px;
		margin-top: 15px;
}
.post2 a {
		color: #3d3f40;
	text-decoration: none;
}
.category {
	background-color: #ffffff;
	float: right;
	width: 20%;
	height: 170px;
}

.category ul li {
	text-align: center;
	width: 100%;
	padding: 0 0 10px 0;
	transition: background-color 2s;
}
.category ul li:hover {
	background-color: #1dbada;
}
.category ul li a {
	text-decoration: none;
	transition: color 1s;
	color: #3d3f40;
	font-size: 90%;
}
.category ul li a:hover {
	color: #ffffff;
}
.category h2 {
	padding: 0 0 10px 50px;
	font-size: 120%;
	background-color: #bbdfe7;
}
/* part 2 
osulebi vart me2re siaxleze*/

aside .reklama {
	width: 20%;
	height: 500px;
	float: right;
	background-color: #ffffff;
	margin-top: 15px;
}
.reklama img {
	width: 90%;
	padding: 20px 0 0 10px;
	height: 55%
}
.reklama h1 {
	padding: 15px 0 0 0;
	text-align: center;
	font-size: 110%;
}
.reklama p {
	padding: 10px;
}
.reklama a {
	text-decoration: none;
	padding: 0 5px 5px 0;
	float: right;
	font-size: 120%;
	margin-bottom: 10px;
	transition: font-size 2s;
}
.reklama a:hover {
	font-size: 200%;
}
/* sectonis anu seqciis gaketeba */
.post3 {
	color: #3d3f40;
		float: left;
		width: 75%;
		background-color: #ffffff;
		padding:  30px 20px 30px 20px;
		margin-top: 15px;
}
.post3 h1 {
	padding: 0 0 20px 0;
}
.article-box {
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
	width: 150px;
	height: 150px;
	background-color: #a5e3f1;
}
.post3 .article-box:nth-child(2){
	margin-left: 0;
}
.post3 .article-box:nth-child(5){
	margin-right: 0;
}
.article-box h1 {
	text-align: center;
	padding: 10px;
}

/* responsive */

@media (max-width: 1200px) {

	.conteiner .post {
		width: 80%;
		margin-bottom: 15px;
	}

	.reklama {
		display: none;
	}
	.category {
		float: left;
		width: 84%;
	}
	.category h2 {
		box-sizing: border-box;
		padding: 0 0 10px 371px;
	}

    .conteiner .post2 {
    	width: 80%;
    }
    .conteiner .post3 {
    	width: 80%;
    }

	}

	@media (max-width: 830px) {
		.registrate {
			float: left;
			margin-left: 270px;
			margin-top: 0;
		}
	}